<div id="experiment-header">
	<div class="clearfix">
	<div class="experiment-info">
		<h1><%= @experiment.name %></h1>
		<% if @experiment.running? %>
			<p>Last run was on <%=@experiment.run_at%></p>
		<% else %>
			<p>Last edit was on <%=@experiment.updated_at%></p>
		<% end %>
	</div>
	<div class="experiment-ctl">
		<% if @experiment.runnable? %>
			<div class="button">Start a run</div>
		<% end %>
		<%= link_to "Copy & Create New", copy_experiment_path(@experiment), :class=>"button", :id=>"copyexperiment" %>
		<%= link_to "Delete", experiment_path(@experiment), :method=>:delete, :class=>"button", data: { confirm: "Are you sure you want to delete this experiment?" } %>
	</div>
	</div>
	<ul class="tabmenu">
		<% if params[:action] == "show" %>
		<span class="active">Properties</span>
		<% else %>
		<%=link_to "Properties", experiment_path(@experiment)%>
		<% end %>

		<% if params[:action] == "protocol" %>
		<span class="active">Protocol</span>
		<% else %>
		<%=link_to "Protocol", protocol_experiment_path(@experiment)%>
		<% end %>
		
		<% if @experiment.qpcr? %>
		<% if params[:action] == "platessetup" %>
		<span class="active">Plates Setup</span>
		<% else %>
		<%=link_to "Plates Setup", platessetup_experiment_path(@experiment)%>
		<% end %>
		<% end %>
	</ul>
</div>

<div class="popupBox" style="display: none;" id="copyexperimentbox"">
	<div class="popup-handle blue-scheme">
		<h2>Copy Experiment</h2>
	</div>
	<% experiment = Experiment.new(:name=>"Copy of #{@experiment.name}") %>
	<%= render(:partial => "new_experiment", :locals => {:params=> {:submitpath=>copy_experiment_path(@experiment), :experiment=>experiment, :cancel=>true}} ) %>
</div>

<script type="text/javascript" language="javascript">
<!--
copyExperimentPopup = new popupbox(null, false, 300, false, "copyexperiment");
$("#copyexperimentbox").find(".cancel").click(function(event){
	copyExperimentPopup.close();
});
$("#copyexperiment").click(function(event){
	copyExperimentPopup.open('copyexperimentbox');
	return false;
});
//-->
</script>