<div id="experiment-header">
	<div class="clearfix">
	<div class="experiment-info">
		<h1><%= @experiment.name %></h1>
		<% if @experiment.running? %>
			<p>Last run was on <%=@experiment.run_at%></p>
		<% else %>
			<p>Last edit was on <%=@experiment.updated_at%></p>
		<% end %>
	</div>
	<div class="experiment-ctl">
		<% if @experiment.runnable? %>
			<div class="button">Start a run</div>
		<% end %>
		<div class="button">Copy &amp; Create New</div>
	</div>
	</div>
	<ul class="tabmenu">
		<% if params[:action] == "show" %>
		<span class="active">Properties</span>
		<% else %>
		<%=link_to "Properties", experiment_path(@experiment)%>
		<% end %>

		<% if params[:action] == "protocol" %>
		<span class="active">Protocol</span>
		<% else %>
		<%=link_to "Protocol", protocol_experiment_path(@experiment)%>
		<% end %>
		
		<% if @experiment.qpcr? %>
		<% if params[:action] == "platessetup" %>
		<span class="active">Plates Setup</span>
		<% else %>
		<%=link_to "Plates Setup", platessetup_experiment_path(@experiment)%>
		<% end %>
		<% end %>
	</ul>
</div>