<% if @experiment.editable? %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	initDraggable($(".draggable"));
	initDraggableStage($(".cycle"));
	
	$(".stepbutton").draggable({
		cursor: 'pointer',
    	scope: 'step',
        helper: "clone",
    	opacity: 0.9,
    	zIndex: 10,
        drag: function(event, ui) {
            var $droppable = $(this).data("current-droppable");
            if ($droppable) {
                updateHighlight(ui, $droppable[0]);
            }
        }
    });

	$(".stagebutton").draggable({
		cursor: 'pointer',
    	scope: 'stage',
        helper: "clone",
    	opacity: 0.9,
    	zIndex: 10
    });

    initDroppable($(".droppable"));
	initDroppableStage($(".droppable-stage"));
	initEditable($(".draggable"), "step");
	initEditable($(".stage .title"), "stage");
	
	$(".stepbutton").tooltip({ 
		items: ".stepbutton",
		content: "Drag to the left to add step",
		position: {at: 'bottom+15 center'}
	});
	
	initDeletableStep(null);
	initDeletableStage(null);
});
</script>
<% end %>

<%= render(:partial => "/experiments/list")%>

<div id="experiment-content">
	<%= render(:partial => "/experiments/experiment_header")%>
	
	<div class="main-panel" id="experiment_<%=@experiment.id%>_protocol_<%=@experiment.protocol.id%>">
		<div class="titlebar blue-scheme">
			<span class="step-name">Step Name</span><span class="step-temperature">Temperature (&#176C)</span><span class="step-hold-time">Hold Time (secs)</span>
		</div>

		<% @experiment.protocol.stages.each do |stage| %>
			<%= stage_placeholder if @experiment.editable? %>
			<%= render(:partial => "show_stage", :locals => {:stage=>stage} )%>
		<% end %>
		<%= stage_placeholder if @experiment.editable? %>
	</div>
	
<% if @experiment.editable? %>
	<div class="ctl-panel">
		<div class="button stepbutton">Add Step</div>
		<div class="button stagebutton">Add Stage</div>
	</div>
<% end %>
</div>
