<% if @experiment.editable? %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	initDraggable($(".draggable"));
	initDraggableCycle($(".cycle"));
	
	$(".stepbutton").draggable({
		cursor: 'pointer',
    	scope: 'step',
        helper: "clone",
    	opacity: 0.9,
    	zIndex: 10,
        drag: function(event, ui) {
            var $droppable = $(this).data("current-droppable");
            if ($droppable) {
                updateHighlight(ui, $droppable[0]);
            }
        }
    });

	$(".cyclebutton").draggable({
		cursor: 'pointer',
    	scope: 'cycle',
        helper: "clone",
    	opacity: 0.9,
    	zIndex: 10
    });

    initDroppable($(".droppable"));
	initDroppableCycle($(".droppable-cycle"));
	initEditable($(".draggable"), "step");
	initEditable($(".cycle .title"), "cycle");
	
	$(".stepbutton").tooltip({ 
		items: ".stepbutton",
		content: "Drag to the left to add step",
		position: {at: 'bottom+15 center'}
	});
	
	initDeletableStep(null);
	initDeletableCycle(null);
});
</script>
<% end %>

<%= render(:partial => "/experiments/list")%>

<div id="experiment-content">
	<%= render(:partial => "/experiments/experiment_header")%>
	
	<div class="main-panel" id="experiment_<%=@experiment.id%>_cycle_<%=@experiment.master_cycle_id%>">
		<div class="titlebar blue-scheme">
			<span class="step-name">Step Name</span><span class="step-temperature">Temperature (&#176C)</span><span class="step-hold-time">Hold Time (secs)</span>
		</div>

		<% @experiment.components.each do |component| %>
			<%= cycle_placeholder if @experiment.editable? %>
			<%= render(:partial => "show_component", :locals => {:component=>component} )%>
		<% end %>
		<%= cycle_placeholder if @experiment.editable? %>
	</div>
	
<% if @experiment.editable? %>
	<div class="ctl-panel">
		<div class="button stepbutton">Add Step</div>
		<div class="button cyclebutton">Add Cycle</div>
	</div>
<% end %>
</div>
