<%= render(:partial => "/experiments/list")%>

<div id="experiment-content">
	<%= render(:partial => "/experiments/experiment_header")%>
	
	<%= form_for @experiment do |f| %>
		<h2>Do you want to collect real-time PCR data?</h2>
		<div class="radio-button"><%= f.radio_button :qpcr, true %>Yes</div> <div class="radio-button"><%= f.radio_button :qpcr, false %>No</div>
		<div class="submitctl">
		<%= submit_tag "Continue" %>
		</div>
	<% end %>
</div>


