<%= render(:partial => "/experiments/list")%>

<div id="experiment-content">
	<%= render(:partial => "/experiments/experiment_header")%>
	
	<%= form_for @experiment do |f| %>
		<div class="forminput">
		<%= f.label :name, "Experiment Name" %>
		<%= f.text_field :name, :class=>"textinput" %>
		</div>
		<div class="forminput">
		<%= f.label :qpcr, "Do you want to collect real-time PCR data?" %>
		<div class="radio-button"><%= f.radio_button :qpcr, true %>Yes</div> <div class="radio-button"><%= f.radio_button :qpcr, false %>No</div>
		</div>
		<div class="submitctl">
		<%= submit_tag "Continue" %>
		</div>
	<% end %>
</div>


