<div id="sidemenu">
	<ul>
		<% @protocols.each do |protocol| %>
			<li<%=" class=\"blue-scheme\"".html_safe if protocol.name == @protocol.name%>><%=protocol.name%></li>
		<% end %>
	</ul>
	<div class="button">Add Protocol</div>
</div>

<div id="protocol-content">
	<div id="protocol-header" class="clearfix">
		<div class="protocol-info">
			<h1><%= @protocol.name %></h1>
			<% if @protocol.run_at %>
				<p>Last Runned at <%=@protocol.run_at%></p>
			<% end %>
			<p>Last Modified at <%=@protocol.updated_at%></p>
			<p><a href="#">See past runs</a></p>
		</div>
		<div class="protocol-ctl">
			<div class="button"><%=link_to "Edit", edit_protocol_path(@protocol.id)%></div>
			<div class="button">Copy &amp; Create New</div>
		</div>
	</div>
	
	<%= render(:partial => "show_components", :locals => {:editable=>false} )%>
</div>