<div id="sidemenu">
	<ul>
		<% @protocols.each do |protocol| %>
			<li<%=" class=\"blue-scheme\"".html_safe if protocol.name == @protocol.name%>><%=link_to protocol.name, (@run)? run_protocol_path(@run ,protocol) : protocol_path(protocol) %></li>
		<% end %>
	</ul>
	<div class="button" id="addprotocol"><%= link_to "Add Protocol", "#" %></div>
</div>

<div id="protocol-content">
	<div id="protocol-header" class="clearfix">
		<div class="protocol-info">
			<h1><%= @protocol.name %></h1>
			<p>Last Modified at <%=@protocol.updated_at%></p>
		</div>
		<div class="protocol-ctl">
			<% if @run %>
			<%= form_for @run, :html => { :id => "runform" }, :method=>:put do |f| %>
				<%= f.hidden_field :protocol_id, :value => @protocol.id  %>
			<% end %>
			<div class="button" id="runselect"><%=link_to "Select", "#"%></div>
			<% end %>
			<div class="button"><%=link_to "Edit", (@run)? edit_run_protocol_path(@run, @protocol) : edit_protocol_path(@protocol)%></div>
			<div class="button">Copy &amp; Create New</div>
		</div>
	</div>
	
	<%= render(:partial => "show_components", :locals => {:editable=>false} )%>
</div>

<div class="popupBox" style="display: none;" id='newprotocol'>
	<div class="popup-handle blue-scheme">
		<h2>Add Protocol</h2>
	</div>
	<%= render(:partial => "new_protocol", :locals => {:cancel=>true} ) %>
</div>

<script type="text/javascript" language="javascript">
<!--
newProtocolPopup = new popupbox(null, false, 300, false, "addprotocol");
$("#newprotocol").find(".cancel").click(function(event){
	newProtocolPopup.close();
});
$("#addprotocol").click(function(event){
	newProtocolPopup.open('newprotocol');
});
$("#runselect").click(function(event){
	$("#runform").submit();
});
//-->
</script>